{% extends "base.html" %}
{% block content %}

<!-- おすすめ商品 -->
<div class="section">
  <h2 class="section-title">おすすめ商品</h2>
  <div class="container_reco">
    {% for item in reco %}
        {% include "shop/component/recomend_card.html" %}
    {% endfor %}
  </div>
</div>


<!-- 全商品 -->
<div class="section">
  <h2 class="section-title">全商品</h2>
  <div class="container">
    {% for item in all_items %} 
        {% include "shop/component/product-card.html" %}
    {% endfor %}
  </div>
</div>





<style>
/* 共通セクション */
.section {
  margin-bottom: 40px;
}

/* 共通タイトル */
.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 24px 0 16px 0; /* 上:24px / 下:16px */
}

/* おすすめ商品コンテナ */
.container_reco {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  padding: 40px 20px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid #b5a28a;
}

/* 全商品コンテナ */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
   background-color:rgb(255, 255, 255);
  border-radius: 16px;
    padding: 20px;

}

.name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

.price {
  font-weight: bold;
  color: #10b981;
  font-size: 1rem;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #10b981;
  color: white;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
}
.card-content {
    padding: 12px;
    gap: 6px;
}
.p-name {
    margin: 0;
}

.p-price {
    margin: 0;
}
</style>
{% endblock %}