{% extends "admin/ADbase.html" %}
{% block content %}   
   <h1>商品編集</h1>

<form method="POST" enctype="multipart/form-data">
  <div>
    商品名<br>
    <input type="text" name="itemName" value="{{ item.itemName }}">
  </div>

  <div>
    カテゴリ<br>
    <input type="text" name="categoryName" value="{{ item.categoryName }}">
  </div>

  <div>
    説明<br>
    <textarea name="itemDetail">{{ item.itemDetail }}</textarea>
  </div>

  <div>
    価格<br>
    <input type="number" name="price" value="{{ item.price }}">
  </div>

  <div>
    在庫<br>
    <input type="number" name="stock" value="{{ item.stock }}">
  </div>

  <div>
    <input type="checkbox" name="recmdFlg" {% if item.recmdFlg %}checked{% endif %}>
    おすすめ
  </div>

  <div>
    画像<br>
    <input type="file" name="imageFile">
  </div>

  <button type="submit">更新</button>
</form>
{% endblock  %}
