<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
</head>
<body>
    <h1>新規登録</h1>
    <form method="post">
        <label for="userName">名前</label>
        <input type="text" name="userName" required>
        <br>
        <label for="password">パスワード</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">登録</button>
    </form>

    <!-- {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %} -->
</body>
</html>