<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>カート画面 - Simple EC Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="header-left">
            <span class="icon">🏠</span> <strong>Simple EC Store</strong>
        </div>
        <nav>
            <a href="#">商品一覧</a>
            <a href="#">注文状況</a>
            <a href="#" class="active">カート <span class="badge">{{ cart_items|length }}</span></a>
        </nav>
    </header>

   
</body>
</html>